.car_imgicon .elementor-image {
    min-width: 200px;
    background: rgb(0, 128, 201);
}

header{
	background-color: rgba(255,255,255,0.7);
	padding: 10px 0;    
	

}
.scrolled{
    border-bottom: 1px solid #dedede;
	
}

.planer_theo_link{
	color: #0080c8;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 0px;
}
.theo_collection ul{
	padding-left: 20px;
}
.theo_collection ul li{
	list-style-type: none;
	margin: 10px 0;
}

.elementor-text-editor h1 {
	font-family: "Titillium web", Sans-serif;
    font-size: 2rem;
    font-weight: 400;
	color: #000;
}

.elementor-text-editor table {
	width: 100%;
	color: #000;
}

.terminPage table thead th{
    background-color: #0080c8;
    padding: 10px;
    color: #fff;
    text-align: center;
	border:  1px solid #fff;
}
.terminPage table {
	border: none;
}

.terminPage table tbody td{
    padding: 10px;
    text-align: center;
	border:  1px solid #fff;
}


.terminPage table tbody tr:nth-child(even){
    background-color: #eaeaea;
    padding: 10px;
    text-align: center;
}
.terminPage table tbody tr:hover td{
	background-color: #0080c8;
	color: #fff;
}

.td-0{width:40%; padding-right:5px;}
.contenttable  {margin-top:10px; margin-bottom:10px;}
table .tr-odd {background-color:#eee;}

.terminPage{
	margin-bottom: 40px;
}
.terminPage h1 {
	margin-bottom: 30px;
}

.terminPage .termin_menu a{

    color: #0080c8;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 0px;
}

.terminPage .stage{
	background-image: url(/wp-content/uploads/2018/12/termine-und-service-keinath-stage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -130px;
    margin-bottom: 50px;
    padding: 0px 0px 0px 0px;
	min-height: 690px;
	position: relative;
}

.terminPage .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
	padding: 0;
}

.terminPage .stage .stageHeadlines{
	top: 50%;
	position: absolute;
}


.stageHeadlines .banner-head{
	background-color: #fff;
    color: #0080c9;
    padding: 10px 20px 10px 20px;
    left: 0px;
    right: 0px;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.0rem;
    line-height: 1.2;
}

.banner-head.button{
	color: #fff;
	background-color: red;
	float: none;
	display: inline-block;
    font-size: 1.2rem;
    margin-top: 15px !important;
    font-weight: 600;
    padding: 10px 50px 10px 50px;
    font-style: normal;
}

.shadow_boxContent{
	max-height:400px;
}
.lg-up-angle,
.lg-down-angle{margin-left:20px;}

.elementor-element-f7316e6 .elementor-element-populated{padding: 0 20px 20px 0!important;}
.elementor-element-d6e287c .elementor-video-iframe{padding: 0 20px 20px 0;}

@media all and (max-width: 769px){
	
	
.elementor-element-f7316e6 .elementor-element-populated{padding: 10px !important;}
}

.elementor-widget-google_maps iframe{
	pointer-events: all !important;
}

div.wpcf7-response-output{
	margin: 0;
}

.elementor-46 .elementor-element.elementor-element-21cc5ea{
	padding: 40px 0;
	width: 100% !important;
}
.tab_image{
	background-size: contain;
	outline: none;
	width: 100%;
}
.tabSlider_content{
	max-width: 650px;
	margin: 0 auto;
}
.slick-list{
	width: 100%;
}
.slick-slide{
	outline: none;
}
.elementor-widget-keinathfahrschule-TabsSlider .slick-prev.slick-arrow:before{
	background-color: inherit;
}
.elementor-widget-keinathfahrschule-TabsSlider .slick-prev.slick-arrow{
	color: transparent;
}
.elementor-7 .elementor-element.elementor-element-2f04de0 .elementor-repeater-item-f24748c .slick-slide-bg{
    background-position: 20%;
}
.elementor-7 .elementor-element.elementor-element-2f04de0 .elementor-repeater-item-8612afe .slick-slide-bg{
	background-position: 20%;
}
@media all and (max-width: 500px){
	.banner-head.button{
		float: left;
	}
	.banner-head {
		top: -50px !important;
	}
}
@media all and (max-width: 769px){
	.terminPage table tbody td{padding: 5px;}
	.terminPage .stage{
		height: 40vh;
		min-height: inherit;
		margin-top: 0;
	}
	.terminPage .stage .stageHeadlines .banner-head{top: 0 !important;}
	.elementor-1790 .elementor-element.elementor-element-f0dd951{
		margin-top: 0 !important;
		background-size: 150%;
	}
	.elementor-1790 .elementor-element.elementor-element-f0dd951 > .elementor-container{
		min-height: 450px !important;
	}
	.elementor-element-a6f41c9 .banner-head {
	    top: 55px !important;
	}
	.elementor-48 .elementor-element.elementor-element-df6ff39{
		background-size: cover !important;
		background-position: top !important;
		height: 185px !important;
	}

	.terminNavigation{width: 40% !important;float:left;}
	.terminContent{width: 60% !important;float:left;overflow:scroll;}
	.shadowboxtext{
		min-height: auto !important;
	}
	.elementor-1751 .elementor-element.elementor-element-c7a3dcc{
		background-position: right center !important;
	}
	.navbar-nav > li{
		width: 100%;
		padding: 10px 0;
	}

	.navbar-nav{
		width: 90%;
		margin: 0 auto;
	}
	ul.sub-menu{
		padding: 10px 40px;
		top: 0 !important;
	}
	.navbar-nav > li::after{
		right: 0;
	}
	.navbar li a{
		padding: 0;
	}
	.circle_mbl{
		border-radius: 0 !important;
	}
	.top_nav{
		padding-top:0;
	}
	.circle {
		height: auto !important;
		display: block;
		width: 100% !important;
		border-radius: 0 !important;
		top: inherit !important;
		float: inherit !important;
		margin: 80px auto 0 !important;
		padding: 20px !important;
	}
	.elementor-7 .elementor-element.elementor-element-2f04de0 .slick-slide{
		height: 75vh !important;
	}
	.circle .discount{font-size:1.2rem;}
	.circle .btn {    padding: 5px;    display: initial;    font-size: 12px;}
	.elementor-element-2f04de0 .col-lg-6:nth-child(2){margin-top:80px;}
}
.desc_list{
	margin-bottom: 0;
}

.stageBottom{
    background-color: #0080c9;
    padding: 0;
    color: #fff;
    font-size: 24px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 5;
}
.stageBottom .liveChatTeaser{

    float: right;
    z-index: 10;
    position: relative;
    background-color: #0080c9;
}


.stageBottom .liveChatTeaser a{
	color: #fff !important;
	text-decoration: none !important;
}
.liveChatTeaser {
    cursor: pointer;
    background-image: url(../images/chat_icon.png);
    background-position: left 20px center;
    background-repeat: no-repeat;
    padding-left: 60px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
div.car_icon {
    position: absolute;
    margin-top: 8px;
	
    min-width: 500px;
    background: #0080c9;
	
}
.stageBottom span {
    padding: 10px 0;
    display: inline-block;
}

.elementor-divider-separator{
	border-top-color: #dedede !important;
}
.elementor-widget:not(:last-child){
	margin-bottom: 0;
}

a.btn:hover{color:#fff;}


.navbar-brand img{
    max-height: 60px;
    width: auto;
}

.fixed-top.scrolled .navbar-nav{margin-top:5px;}
.fixed-top.scrolled .navbar{float:none;margin-top: 0;}
.navbar-nav{
	margin-top: 40px;
}
.navbar{padding:0 !important; float: right;}
.navbar-nav > li>a{    
	font-size: 16px;
	padding: 0 10px 0 10px;
}
ul.sub-menu{
	top: 25px;
}

@media all and (max-width: 769px){
	.stageBottom{
		display: none;
	}
}

input[name='subject']{
	display:none;
}

.shadow_boxContent {
	min-height: 180px !important;
	padding: 0 !important;
	position: relative;
	overflow: hdiden;
	min-height: 400px !important;
}
.shadow_boxContent img {
	margin: 0 auto;
	display: block;
	max-height: auto;
	max-width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
