@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,700i&display=swap');

* {
    padding: 0; 
    margin: 0; 
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #000000; 
    transition: all .2s ease; 
}

.clearer {
    clear: both; 
    height: 0; 
}


@media only screen and (max-width: 600px){
    .clearer {
        clear: both; 
        height: 0; 
    }
}

button {
    text-transform: uppercase; 
    border: none; 
    outline: none !important; 
}

label {
    padding: 10px; 
}

/*Bootstrap*/
.col-12{
    padding-left: 8px !important; 
    padding-right: 8px !important; 
}


/*Header*/

header {
    top: 0; 
    left: 0; 
    z-index: 8; 
    width: 100%;
    position: fixed;
    padding: 2rem 0;
    background-color: white; 
}

.header__left--servicePoint {
    float: left; 
}

.header__left--servicePoint a, .header__left--servicePoint:hover a, .header__left--servicePoint a:hover {
    cursor: pointer; 
    text-decoration: none; 
}

@media only screen and (max-width: 600px){
    .firstSection {
        margin-top: 166px; 
    }
}

.blue-content{
    font-size: 25px; 
    background-color: #0080C9; 
    width: 100%; 
    color: white; 
    font-weight: bold; 
    font-style: italic; 
    text-align: center; 
    padding: 8px 0; 
}

.blue-content span, .blue-content h1, .blue-content h2 {
    color: #FFFFFF; 
}

.white-content span {
    background-color: white; 
    color: #0080C9; 
    font-style: italic; 
    font-weight: bold; 
    font-size: 32px; 
    line-height: 60px; 
    padding: 0 16px; 
}

.red-content {
    background-color: #E63312; 
    color: white; 
}


.service-point {
    font-weight: 300; 
    font-size: 43px; 
    padding: 12px 24px;
    width: 350px; 
    max-height: 70px; 
    font-style: normal; 
}

.service-point img {
    float: left; 
    width: 35px;
    height: 50px;  
}

@media screen and (max-width: 1200px){
    .service-point {
        font-weight: 300; 
        font-style: normal;
        width: 228px; 
        height: 44px; 
        padding: 4px 16px; 
    }

    .service-point img {
        float: left; 
        width: 24px;
        height: 32px;  
    }

    .service-point h1 {
        font-size: 27px !important; 
        line-height: 37px; 
    }
}

@media screen and (max-width: 990px) {
    #logo {
        display: none; 
    }
    
    .service-point img, .service-point h1 {
        z-index: 10; 
        position: relative; 
    }

    .mobile-menu { 
        z-index: 10; 
        margin: 6.5px 0; 
        position: relative; 
        width: 42px; 
        height: 32px;    
    }

    .mobile-menu:hover {
        cursor: pointer; 
    }

    .mobile-menu span{
        border-radius: 2px; 
        position: absolute; 
        width: 42px; 
        height: 6px; 
        background-color: #E63312; 
    }

    .mobile-menu span:nth-child(2n + 0){
        top: calc(50% - 3px); 
    }

    .mobile-menu span:last-child{
        bottom: 0; 
    }

    .mobile-overlay {
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        z-index: 8; 
        display: none; 
        position: fixed; 
        background-color: #0080C9; 
    }

    .mobile-overlay nav {
        margin-top: 100px; 
    }

    .mobile-overlay nav ul li {
        list-style: none; 
        border-bottom: 1px solid white; 
        padding: 10px 30px; 
    }

    .mobile-overlay nav ul li a{
        color: white; 
        font-size: 16px; 
        text-decoration: none; 
        margin-left: -15px; 
    }

    .header__left--navigation, .header__right > a {
        display: none; 
    }

}

@media screen and (min-width: 991px) {
    .mobile-menu {
        display: none; 
    }

    .mobile-overlay nav {
        display: none; 
    }
}

h1 {
    font-weight: 300 !important; 
    font-size: 43px; 
}

@media only screen and (max-width: 600px){
    h2 {
        margin-top: 4px; 
        font-size: 25px !important; 
    }
}

.header__left--navigation{
    float: left; 
}

.header__left--navigation nav ul {
    float: left; 
    margin-top: 51px; 
}

.header__left--navigation nav ul li {
    display: inline-block; 
    list-style: none; 
    padding-left: 16px; 
}

.header__left--navigation nav ul li a {
    font-weight: normal;
    font-size: 16px; 
    color: #000000; 
    line-height: 25px; 
    padding: 1rem;
}

.header__left--navigation nav ul li a:hover, nav ul li a:active {
    color: #000000; 
    font-weight: bold; 
    font-size: 16px; 
    text-decoration: none; 
}

.header__right{
    float: right; 
}

.header__right > a > img {
    height: 70px; 
}

/*Footer*/ 
footer {
    background-color: #606060; 
    height: 100%; 
    min-height: 230px; 
    margin-top: 136px; 
}

.footer__content{
    padding: 54px 0; 
}

.footer__content--top{
    padding-bottom: 26px; 
}

.footer__left--navigation {
    float: left; 
    width: 49%
}

.footer__left--navigation nav ul {
    line-height: 25px; 
}

.footer__left--navigation nav ul li {
    display: inline-block;   
    
}

.footer__left--navigation nav ul li:first-child a {
    padding-left: 0; 
}

.footer__left--navigation nav ul li:nth-child(4n+0) a{
    padding-left: 0; 
}

.footer__left--navigation nav ul li:last-child a{
    border-right: none; 
}

.footer__left--navigation nav ul li a{
    color: #FFFFFF !important;
    border-right: 1px solid #FFFFFF; 
    padding: 0 10px; 
}

.footer__left--navigation nav ul li a:hover{
    color: #ffffff; 
}

.footer__left--navigation nav ul li {
    list-style: none; 
}

.footer__middle--imprint {
    float: left; 
}

.footer__middle--imprint nav ul li {
    display: inline-block; 
    text-decoration: underline; 
    padding: 0 8px; 
    border-right: 1px solid white; 
}

.footer__middle--imprint nav ul li:last-child{
    border: 0; 
}

.footer__middle--imprint nav ul li a, .footer__middle--imprint nav ul li a:hover {
    color: #ffffff; 
}

.footer__right--socialMedia {
    float: right; 
} 

.footer__right--socialMedia ul li {
    list-style: none; 
    display: inline-block; 
}

.white-button {
    background-color: white; 
    height: 35px; 
    width: 35px;
    border-radius: 50%; 
    position: relative; 
}

.white-button img {
    width: 20px; 
    height: 20px; 
    position: absolute;
    top: 7.5px; 
    left: 7.5px;  
}

@media only screen and (max-width: 600px){
    footer {
        height: 100%; 
    }
    
    .footer__content {
        padding: 28px 0 32px 0; 
    }

    .footer__left--navigation {
        float: none; 
        width: 100%; 
    }

    .footer__left--navigation nav ul {
        margin: 0; 
    }

    .footer__left--navigation nav ul li a {
        padding: 0 10px 0 0; 
    }

    .footer__middle--imprint nav ul:first-child {
        display: none; 
    }

    .footer__middle--imprint nav ul li{
        padding-left: 0; 
    }

    .footer__right--socialMedia > div > ul {
        margin-bottom: 0; 
    }

    .footer__right--socialMedia > div > ul:first-child {
        display: none
    }

    .footer__right--socialMedia {
        float: left; 
    }
}

/* Hero */

.hero {
    position: relative; 
    background-image: url('../images/girl.png');
    background-size: cover; 
    background-repeat: no-repeat;  
    min-height: 100%; 
    height: 624px; 
}

.hero-content {
    padding: 8px 20px; 
    font-style: normal; 
    font-weight: 600; 
    text-align: start; 
    height: 54px; 
}

.hero-content:after {
    content: 'Freiheit erfahren - mit der Fahrschule Keinath '; 
}

.hero-button {
    padding: 12px 16px; 
    text-transform: uppercase; 
    font-size: 20px; 
    font-weight: 600; 
}

.hero-headline span{
    padding: 4px 16px; 
    margin-bottom: 8px; 
}

.hero > div > h2 {
    position: absolute; 
    top: 50%; 
}

.hero > div > a {
    position: absolute; 
    top: 80%; 
}

.box-image img {
    width: 100%; 
    position: relative; 
}

@media screen and (max-width: 600px) {
    .hero {
        background-position: center; 
        margin-top: 36px; 
    }

    .hero-headline span {
        padding: 0 12px; 
    }

    .hero-content:after {
        content: 'Freiheit erfahren'; 
    }

    .hero > div > h2 {
        position: absolute; 
        top: 54%; 
    }
    
    .hero > div > a {
        position: absolute; 
        top: 85%; 
    }
}

/*Single Elements*/ 

.box {
    position: relative;
    height: 398px; 
    width: 100%;
} 
.play-button {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.7); 
    position: absolute; 
    top: calc(50% - 50px); 
    left: calc(50% - 50px); 
}

.play-logo {
    width: 0px; 
    height: 0px; 
    border-top: 14px solid transparent; 
    border-bottom: 14px solid transparent; 
    border-left: 24px solid #E63312; 
    position: absolute; 
    top: calc(50% - 14px); 
    left: calc(50% - 10px);     
}

/*News*/
.news__blog > div > div {
    background-color: #F2F2F2; 
}

.news__blog > div > div > div > div > p {
    column-count: 2; 
}

.blogpost-time {
    font-size: 16px; 
    padding: 12px 0 12px 0;
}
.news__blog > div > div > div > div > div > h2 {
    margin-top: 44px; 
    margin-bottom: 38px; 
}

.blogpost p{
    font-size: 16px;
    line-height: 25px; 
}

.blogpost-pretext {
    font-weight: 600; 
}

.blogpost-metadata__left {
    float: left; 
    width: 50%; 
}

.blogpost-metadata__right {
    float: right; 
}


/**
* vic css
**/
.row.grid > div{
    margin-bottom: 1rem;
}
.post {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.post__category {
    position: absolute;
    top: 0;
    left: 2rem;
    padding: .2rem .5rem;
    z-index: 1;
}
.post__content {
    overflow: hidden;
    position: relative;
}
.post__content.content--video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}
.post__content img {
    width: 100%;
    object-fit: cover;
}
.post .post__title {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
}
.post .container .row > div > div {
    margin: 1rem;
}