<footer>
    <div class="container">
        <div class="footer__content">
            <div class="footer__content--top">
                <img src="{{ site.theme.link }}/assets/logos/logo-white.png">
            </div>
            <div>
                <div class="footer__left--navigation">
                    <nav>
                        <ul> <!-- Welche Links -->
                            <li>
                                <a href="#">Fahrschule Keinath GbR</a>
                            </li>
                            <li>
                                <a href="#">Augsburger Str. 40, 86157 Augsburg</a>
                            </li>
                            <li>
                                <a href="#">www.fahrschule-keinath.de</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Büro: 08 21 / 52 49 00</a>
                            </li>
                            <li>
                                <a href="#">Mo-Fr: 09.00-18.30 Uhr</a>
                            </li>
                            <li>
                                <a href="#">service@fahrschule-keinath.de</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__middle--imprint">
                    <nav>
                        <ul>
                            <li>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="#">Datenschutzerklärung</a></li>
                            <li><a href="#">Impressum</a></li>
                            <li><a href="#">Cookie-Richtlinien</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__right--socialMedia">
                    <div>
                        <ul>
                            <li>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="white-button">
                                        <img src="{{ site.theme.link }}/assets/icons/facebook.png">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="white-button">
                                        <img src="{{ site.theme.link }}/assets/icons/twitter.png">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="white-button">
                                        <img src="{{ site.theme.link }}/assets/icons/youtube.png">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <div class="white-button">
                                        <img src="{{ site.theme.link }}/assets/icons/instagram.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br class="clearer">
            </div>
        </div>
    </div>
</footer>

Copyright {{"now"|date('Y')}}