<div class="container">
    <div class="header__content">
        <div class="header__left">
            <div class="header__left--servicePoint">
                <a href="index.php?site=home">
                    <div class="blue-content service-point">
                        <img src="{{ site.theme.link }}/assets/icons/location.png">
                        <h1>Service Point</h1>
                    </div>
                </a>
            </div>
            <div class="header__left--navigation">
                <nav>
                    {{  function('wp_nav_menu', { menu:'Content Hub Nav' }) }}
                </nav>
            </div>
        </div>
        <div class="header__right">
            <div id="mobile-menu" class="mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="mobile-overlay" class="mobile-overlay">
                <nav>
                    {{  function('wp_nav_menu', { menu:'Content Hub Nav' }) }}
                </nav>
            </div>
            <a id="logo" href="index.php?site=home">
                <img src="{{ site.theme.link }}/assets/logos/logo-color.png">
            </a>
        </div>
    </div>
    <br class="clearer">
</div>
</div>