{% extends "base.twig" %}

{% block content %}
    {% if ch_posts|length  > 0 %}
        {% set first_post = ch_posts|first %}
        <section class="mb-2">
            <div class="container home__hero">
                <div class="row grid">
                    {% for i, post in ch_posts[0:6] %}
                        {% if i == 0 %}
                            <div class="col-12">
                                <div class="post__content full-container">
                                    <img src="{{ post.thumbnail.src }}" alt="">
                                </div>
                                <div class="box-image firstSection hero">
                                    <div class="post first-post">
                                        <label class="post__category red-content">{{ post.category }}</label>
                                        <h2 class="white-content ml-5">
                                            <span>{{ post.post_title }}</span>
                                        </h2>
                                        <br>
                                        <a href="{{post.link}}" class="ml-5">
                                            <button class="red-content hero-button">Jetzt Mehr Erfahren</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="box">
                            <div class="post">
                                <label class="post__category red-content">Kategorie</label>
                                <div class="content">
                                    <img src="images/driving.png" alt="">
                                </div>
                                <div class="post__headline blue-content"><h2>Hier steht eine Headline</h2></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="box">
                            <div class="post">
                                <label class="post__category red-content">Kategorie</label>
                                <div class="content content--video full-container">
                                    <img src="images/driving.png" alt="">
                                    <div class="play-button">
                                        <div class="play-logo"></div>
                                    </div>
                                </div>
                                <div class="post__headline blue-content">
                                    <h2>Hier steht eine Headline</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="post">
                                <label class="post__category red-content">Kategorie</label>
                                <div class="content full-container">
                                    <img src="images/group.png" alt="">
                                </div>
                                <div class="post__title white-content">
                                    <h2>
                                        <span>Hier steht eine </span><br>
                                        <span>spannende Headline</span>
                                        <h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="post bg-light justify-content-center">
                                <label class="post__category red-content">Kategorie</label>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="d-flex flex-column justify-content-center h-100">
                                                <h2><a href="#" class="">Hier steht eine <br> spannende Headline</a></h2>
                                                <p>Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen. Manchmal Sätze, die alle Buchstaben des Alphabets enthalten</p>
                                                <a class="element-four__link" href="#">Jetzt mehr erfahren</a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="text-right">
                                                <img src="images/relaxing.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="box">
                            <div class="post">
                                <label class="post__category red-content">Kategorie</label>
                                <div class="content content--video full-container">
                                    <img src="images/driving.png" alt="">
                                    <div class="play-button">
                                        <div class="play-logo"></div>
                                    </div>
                                </div>
                                <div class="post__headline blue-content">
                                    <h2>Hier steht eine Headline</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="box">
                            <div class="post bg-primary">
                                <label class="post__category red-content">Kategorie</label>
                                <div class="post__title white-content">
                                    <h2>
                                        <span>Hier steht eine </span><br>
                                        <span>bestimmte</span><br>
                                        <span>spannende Headline</span>
                                        <h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}