 *{
  /*word-break: break-all;*/
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
  }
  body {
    /*padding-top: 54px;*/
    padding-top: 130px;
    font-size: 18px;
    color: #1d1d1b;
  }
  a{
    color: #0080c9;
    
  }
  p{
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 400;
  }
  h2{
    font-weight: 400;
    font-size: 1.2rem;
  }
  h4{
    font-family: "Titillium web", Sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
  }
  h5{
    font-size: 1rem;
    font-weight: 700;
  }
  .link{
    color: #0080c9;
    text-decoration: underline;
    cursor: pointer;
  }
  .link>a:hover{
    color: #0080c9;
    text-decoration: underline;
  }
  .link>a{
    color: #0080c9;
  }
  .link_white{
    color: #ffffff;
    text-decoration: underline;
  }
  .link_white:hover{
    color: #ffffff;
    text-decoration: underline;
  }
  .link_white>a{
    color: #ffffff;
  }
  .link_white:hover>a{
    color: #ffffff;
  }
  header{
    /*background-color: #f8f9fa;*/
  }
  .top_icon{
    color: #000;
  }
  .top_icon:hover{
    color: #000;
    text-decoration: none;
  }
  .scroll_Topmenu{
    list-style: none;
  }
  .scroll_Topmenu li{
     padding-left: 25px;
  }
  .scrolled{
    background-color: #fff;
    /*background-color: yellow;*/
    border-bottom: 1px solid #000;
    transition: 0.3s;
  }
  .scroll_visible{
    display: none;
  }
  
  .active_menu{
    color: red;
  }
  .logo{
    
  }
  .top_nav{
    padding-top: 10px;
  }
  .r_icon{
    color: #e63312;
  }
  .navbar-nav >li >a{
    color: #000;
  }
  .navbar-dark .navbar-nav .nav-link{
    color: #000;
  }
  .head_icon{
    padding-left: 10px;
    font-size: 1.0rem;
    font-style: normal;
  }
  .navbar-nav{
    position: relative;
    list-style: none;
    margin-top: 40px;
    margin-right: -30px;
  }
  .navbar-nav> li{
    /* padding-left: 10px; */
    padding-left: 5px;
  }
  .navbar-nav > li>a{
    text-decoration: none;
    float: left;
    padding: 0px 13px;
    color: #000;
    display: inline-block;
    font-size: 1.2rem;
    font-style: normal;
    	
  }
  /* submenu Create*/
  ul.sub-menu{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #f1f1f1;
    min-width: 160px;
    font-size: 0.9rem;
    padding: 20px 7px;
    top: 25px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  ul.sub-menu >li> a {
    color:#000;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }

  ul.sub-menu >li> a:hover{
    background-color: #ddd;
  }

  @media (min-width: 992px) {
    .navbar-nav> li:hover ul.sub-menu{
      display: block;
    }
  }

  /* END*/
  footer{
    background-color: #0080c9;
    color: #fff;
  }
  
.footer_menu{
	padding-top: 1px;
}

.navbar-nav-footer{
	list-style: none;
	
}
.underline_text{
  text-decoration: underline;
  color: #fff
}

.underline_text:hover{
  color: #fff;
}
.navbar-nav-footer> li >a{
	padding: 0px 5px;
	color: #fff;
	display: inline-block;
  float: left;
  text-decoration: underline;
}
.navbar-nav-footer> li >a >span {
	padding-left: 6px;
}
.navbar-nav-footer> li:last-child span {
	display: none;
}
.footer_sidetext{
    font-weight: 300;
    font-size:0.8rem;
  }
.footer_sidetext > p {
    font-size:0.8rem;
  }
.footer_img{
    padding-left: 35px;
    padding-top: 15px;
	padding-bottom: 15px;
  }
 .footer_img a {
	 color: #fff;
	 text-decoration: none;
 }
 .footer_img a:hover,
 .footer_img a:focus,
 .footer_img a:active {
	 color: #fff;
	 text-decoration: none;
 }
.social_icons{
    display: flex;
    align-items: flex-start;
    margin-left: -18px;
  }
.social_icons > .single_icon{
  height: 35px;
  width: 35px;
  margin-left: 6px;
  padding-left: 13px;
  position: relative;
  }
  .social_icons > .single_icon .c_icon{
    color: #000;
    text-align: center;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 8px 5px;
  }
  .mbl_show{
    display: none;
  }
  .mbl_hide{
    display: block;
  }
   /* .auto-image{
    position: absolute;
    display: block;
    padding: 10px;
  }
 
  .auto-description{
    position: relative; 
    display: none;
    padding: 10px;
    display: none;
 }  */

.bind_imgDes{
     width: 33.333% !important;
}

.bind_imgDes .elementor-widget-wrap > .auto-description{
  height: 0; 
  overflow: hidden;
  -webkit-transition: height 0.2s ease; 
  transition: height 2s ease;
}

.bind_imgDes .elementor-widget-wrap:hover > .auto-description{
  height: 400px;
  overflow-y: scroll;
}


.bind_imgDes .elementor-widget-wrap > .auto-image{
  height: 400px;
  margin-bottom: 0 !important;
  -webkit-transition: height 0.2s ease; 
  transition: height 2s ease;
  margin-bottom: 0px!important;
}


.bind_imgDes .elementor-widget-wrap:hover > .auto-image{
  height: 0;
  overflow: hidden;
}
 .blue_title{
  margin-bottom: 0px!important;
 }
 /*.hide_detail{
   display: none
 }
 .content_show{
   display: none;
 }*/
 .hide {
  display: none;
}
input[type=text],input[type=email],input[type=tel]{
  box-shadow: none;
  border-radius: 0;
  height: 55px;
}
.search_field input[type=text]{
  height: 30px;
  width: 135px;
  box-shadow: none;
  border: none
}
/* contact 7 Radio Style */
.wpcf7-list-item {
  display: inline-block;
  position: relative;

}

.wpcf7-list-item input[type='radio'] {
  display: none;
}

.wpcf7-list-item .wpcf7-list-item-label {
  color: #5f6061;
  font-weight: normal;
}

.wpcf7-list-item .wpcf7-list-item-label:before {
 content: " ";
 display: inline-block;
 position: relative;
 top: 5px;
 margin: 5px 10px 0 0;
 width: 23px;
 height: 23px;
 border-radius: 20px;
 background-color: #fff;
 border: 1px solid grey;
 background-color: transparent;
}
.wpcf7-list-item input[type=radio]:checked + .wpcf7-list-item-label:after {
  border-radius: 11px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 14px;
  left: 4px;
  content: " ";
  display: block;
  background: #e63312;
}
.wpcf7-radio{
	margin-left: -16px;
}
/* contact 7 Radio Style End */

/* contact 7 Checkbox Style */

.wpcf7-list-item input[type='checkbox'] {
	display: none;
}

.wpcf7-list-item input[type=checkbox]:checked + .wpcf7-list-item-label:after {
  border-radius: 11px;
 width: 9px;
 height: 17px;
 position: absolute;
 top: 12px;
 left: 8px;
 content: " ";
 display: block;
 border: solid #e63312;
 border-radius: 0;
 border-width: 0 4px 4px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
 
}
.checkbox_optional .wpcf7-list-item .wpcf7-list-item-label:before{
  margin: 0px 10px 0 0;
}
.checkbox_optional .wpcf7-list-item input[type=checkbox]:checked + .wpcf7-list-item-label:after{
  top: 7px;
}
.wpcf7-acceptance{
    margin-left: -16px;
}

.acceptance{
	margin-left: -15px;
}
span .wpcf7-not-valid-tip{
	font-size: 0.8rem !important;
}
/* contact 7 Checkbox Style End */
button {
  background-color: transparent;
  border: 0;
  /*color: #fff;*/
  cursor: pointer;
}
button:focus{
outline: none;
}
.btn-primary {
color: #fff;
background-color:transparent;
border: none;
border-radius: inherit;
height: inherit;
padding: inherit;
}

.button{
padding: 10px 35px 10px 50px;
background-color: #e63312;
border-right: 0;
font-size: 1.2rem;
position: relative;
max-width: 100%;
text-align: center;
color: white;
cursor: pointer;
transition: all 0.2s ease;
}
.termin-btn{
  
}


.button .btn-primary, .button .btn-primary:hover, .button .btn-primary:active {
background-color: transparent !important;
border: 0 !important;
color: inherit !important;
display: inline;
outline: none;
padding: 0;
margin: 0;
}

.button:hover{
background-color: #d33316;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.h_tabs{
  display: inline-block;
  padding: 15px 90px;
  background-color: transparent;
  border: 1px solid #0080c9;
  color: #0080c9;
  margin-right: 30px;
  cursor: pointer;
  width: 30%;
  text-align: center;
}
.h_tabs:hover {
  background-color: #e63312;
  color: #fff;
  border: 1px solid #e63312;
}
.h_tabsactive{
  background-color: #e63312;
  color: #fff;
  border: 1px solid #e63312;
}
.tab_image{
  width: 92%;
  /* width: 100%; */
  height: 650px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tabSlider_content{
  position: relative;
  color: #fff;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #0080c9;
  padding: 10px 10px;
  width: 92%;
  /* width: 100%; */
  text-align: center
}
.elementor-widget-keinathfahrschule-TabsSlider  .slick-next.slick-arrow {
  position: absolute;
  /*font-size: 0px;*/
  color: transparent;
  z-index: 1;
  top: 50%;
  left: inherit;
  bottom: 0px;
  right: 0px;
 }
 .elementor-widget-keinathfahrschule-TabsSlider  .slick-next.slick-arrow:before {
  content: " >";
  position: absolute;
  height: 45px;
  /* width: 45px; */
  color: #d33316;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: 30px;
 }
 .elementor-widget-keinathfahrschule-TabsSlider  .slick-prev.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0px;
  bottom: 0px;
  right: 0px;
 }
 .elementor-widget-keinathfahrschule-TabsSlider  .slick-prev.slick-arrow:before {
  content: " <";
  background-color: #fff; 
  position: absolute;
  height: 45px;
  /* width: 65px; */
  color: #d33316;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: 30px;
  
 }
 button:focus{
  outline: none !important;
 }
/* slick slider */
.slider {
  width: 100%;
  /* margin: 10px auto; */
  margin: 10px -15px;
}

.slick-slide {
/*margin: 0px 6px;*/
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}
/* slick slider end */
.tabs-contents{
  margin-top: 30px;
}
.lg-down-angle{
  border: solid #0080c9;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.lg-up-angle{
  border: solid #0080c9;
  border-width: 5px 0px 0px 5px;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
  /* .person_show{
   display: none; 
}   */
.job-fa-icon{
  color:red;
  float:right;
}
.person_Adshow{
  margin-top: -35px;
  cursor: pointer;
}
.left_des_col{
  padding: 40px 30px 0px 30px;
}
.image-col-innerSection > .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
  padding: 0px !important;
}
/* über keinath page sliding Divs */
.sliding-div{
  perspective: 1000px;
}
 

.person_box {
  opacity: 1;
  height: 300px;
  width: 33.333% !important;
  overflow: hidden;
  transition: all 0.5s ease;
}

.person_box.detail-box-hidden{
  height: 0;
  opacity: 0;
  width: 33.333% !important;
}
/* End */
.elementor-edit-mode .person_box.detail-box-hidden{
  height: auto !important;
  opacity: 1 !important;
}
.elementor-edit-mode .sliding-div section {
  display: block !important;
}
.elementor-edit-mode .sliding-div section {
  opacity: 1!important;
  height: auto;
}
.elementor-edit-mode .bind_imgDes .elementor-widget-wrap:hover > .auto-image{
  height: auto;
  overflow: hidden;
}
/* .sliding-div .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
  padding: 0px 10px !important;
} */
.btn-primary:focus {
  box-shadow: none !important;
}
.single-termin{
  border : 1px solid #000;
  padding: 20px 20px 0px 20px;
  margin:0px 0px 20px 0px;
}
.termins_data{
  border : 1px solid #000;
  padding: 25px 20px 25px 20px;
  margin:0px 0px 20px 0px;
}
.termin_menu{
  color: #0080c8;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 0px;
}
.termin_menu:hover{
  color: #e63312;
}
.termin_val{
  color: #0080c8;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 0px;
}
.termin_val:hover{
  color: #e63312;
}
.termintitle{
  color: #0080c8;
  font-weight: 400;
}
.termintitle a{
  color: #0080c8;
}
.termintitle a:hover{
  color: #e63312;
}
.start-endDate{
  padding-top: 7px;
}
/*.termin-inputfields input[type = text]{
  height: 38px;
  width: 100%;
  padding: 10px;
}
.termin-inputfields input[type = email].terminemail_address{
  height: 38px;
  width: 100%;
  padding: 10px;
}
.termin-inputfields input[type = tel].termintelefon_nummer{
  height: 38px;
  width: 100%;
  padding: 10px;
}*/
.form-control{
  border-radius: 0 !important;
}
.termin_img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -130px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  min-height: 690px;
}
.Terminbanner-head{
    background-color: #fff;
    color: #0080c9;
    padding: 10px 20px 10px 20px;
    top: -180px;
    left: 0px;
    right: 0px;
    position: relative;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.0rem;
}
.termin_option_text{
  font-size: 1.4rem;
  border-bottom: 1px solid #000;
}
.termin_title{
  font-family: "Titillium web", Sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
.termin-mr{
  margin-top: -90px;
  margin-bottom: 40px;
}
/* Custom Search fa-fa-Icon implemented*/
#searchsubmit{
  background-color: transparent;
  border: 0px;
  text-indent: -9999999999px;
  z-index: 9;
  right: 18px;
  position: absolute;
}
/* [END] */
.search-page-title{
  padding: 30px 0px;
}
.search-post-title{
  font-size: 1.2rem;
  font-weight: 700px;
}
.read_more{
  color: #0080c8;
  font-weight: 700;
}
.read_more:hover{
  color: #e63312;
}
.single_search {
  background-color: transparent;
  box-shadow: 1px 0px 0.9px 1.5px rgba(0,0,0,.15);
  padding: 20px 20px;
  margin-bottom: 40px;
  min-height: 350px;
}
input[type=search].mysearch_field {
  padding-left: calc(38px / 3);
  padding-right: calc(38px / 3);
}
.mysearch_fieldContainer{
  background-color: #dedede;
}
.search-page-form {
  padding: 20px 20px;
}
.my_search_submit {
  background-color: red;
  border: 0px;
  padding: 4px 30px 5px 30px;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 1.2rem;
}
.sIcon_r{
  height:30px;
  float:right;
  position:absolute;
  right:16px;
  bottom:0px;
  top:0px;
  background-color:#fff;
  padding:7px 3px 0px 0px;
}
/* Custom Search ENd*/
.hashtag{
  padding: 5px 0px;
}

/*.job_form input[type=text]{
  border: 1px solid #888888;
}
.job_form input[type=email]{
  border: 1px solid #888888;
  margin-top: -20px;
}
.job_form input[type=tel]{
  border: 1px solid #888888;
  margin-top: -20px;
}
.job_form textarea{
  border: 1px solid #888888;
  height: 120px;
}*/
/*input type file style*/
/*.inputfile_bind{
  position: relative;
  cursor: pointer;
}
.job_form .wpcf7-file{
  position: relative;
  opacity: 0;
  z-index: 2;
}
.job_form .resume{
  position: absolute;
	top: 0px;
	left: 10px;
  z-index: 1;
  text-decoration: underline;
  color: #0080c9;
  width: 100%;
}*/
/*input type file End*/

/* animation job page Jobs*/

.jobtoggel{
  cursor: pointer;
}
.job_profile_des{
  /*opacity: 1;*/
  height: 620px;
  overflow: hidden;
  transition: all 0.5s ease !important;
}

.job_profile_des.job-box-hidden{
  height: 0;
  /*opacity: 0;*/
}
.small{
    padding: 10px;
  }

.car-icon{
  left: 0px;
  display: inline-block;
  position: relative;
}
.menu-toggle{
  display: none;
}
/* End jobs */

/*.btn-primary:not(:disabled):not(.disabled):active:focus{
  box-shadow: none !important;
}*/
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  
  .navbar-nav > li>a{
    padding: 0px 6px;
    font-size: 1rem;
    color: #fff;
  }
  .head_icon{
    font-size: 0.9rem;
  }
  .scroll_Topmenu li {
    padding-left: 15px;
  }
  .h_tabs {
    margin-right: 5px;
  }
  /*.bind_imgDes .elementor-widget-wrap > .auto-image{
    margin-bottom: -20px !important;
  }*/
  .job-btn{
    padding-bottom: 20px;
  }
  .vector-icon{
    padding: 40px 0px 0px 0px !important;
  }
  .sliding-div .elementor-widget-wrap > section{
    margin-left: -10px;
  }
  .search_field input[type=text] {
    width: 123px;
  }
  .navbar li a{
  color: #000;
  }
  .termin-mr {
    margin-top: -72px;
  }

} 

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  body {
    padding-top: 56px;
  } 
  .main_slider{
    margin-top: 35px !important;
  }
  .mbl_show{
    display: block;
  }
  .logo > a >img{
    /* width: inherit; */
  }
 
  .elementor-7 .elementor-element.elementor-element-2f04de0 .slick-slide{
    height: 100vw !important;
  }
  .slider-head{
    top: 100px !important;
    font-size: 1.2rem !important;
  }
  /*.elementor-637 .elementor-element.elementor-element-46a5119{
    height: 40vh;
    margin-top: 30px !important;
  }*/
  #header_banner{
    height: 40vh;
    margin-top: 30px !important;
  }
  .banner-head{
    font-size: 1.0rem !important;
  }
  
  
  .fixed-top{
    background-color: #fff;
  }
  .navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230,51,18, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  .navbar-toggler-icon{
    width: 2.2em !important;
    height: 2.2em !important;
  }
  .chk{
   /* padding-bottom: 20px;*/
  }
  .big{
    width: 170px;
    margin-top: 10px;
  }
  .small{
    width: 50px;
    margin-top: 10px;
    padding: 0px;
  }
  .mbl_hide{
    
  }
  .comment_icon{
    position: absolute;
    right: 25px;
    top: 0px;
    padding: 10px;
  }
  .comment_icon .comment_fa{
    position: relative;
    top: 18px;
    margin-left: -75px;
    font-size: 40px;
  }
  .circle{
    display: none;
  }
  .branches{
    padding-top: 50px;
  }
  .branches ul {
    margin-left: -55px;
    
  }
  .branches ul li{
    margin-right: 10px;
    background-color: transparent !important;
    padding: 10px 1px 10px 5px !important;
   
  }
  
  .elementor .elementor-custom-embed{
    padding-top: 240px;
    margin: 0px -10px -10px -10px;
  }
  .elementor-7 .elementor-element.elementor-element-5d369e1{
    padding: 0px 0px 0px 0px !important;
  }
  
  .elementor-7 .elementor-element.elementor-element-9382032 > .elementor-widget-container{
    /* margin: -130px -10px -10px -10px !important; */
  }
  .text_mrg{
    margin-left: -10px;
  }
  .navbar-dark .navbar-toggler{
    border-color: transparent !important;
    margin-right: -60px;
  }
  .navbar-nav > li{
    display: block;
    /*border-bottom: 1px solid #ccc;*/
  }
 
  
  .ads_show{
    cursor: pointer;
  }
  
  .ads_divider{
    display: none;
  }
  
  .down-angle{
    border: solid #0080c9;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    /* position: relative;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 14px solid #0080c9;
    border-right: 10px solid transparent;
    background-color: white;
    top: 0px;
    bottom: 0px;
    right: 150px;
    left: 150px;
    width: 0; 
    height: 0;  */
    
  }
  .up-angle{
    border: solid #0080c9;
    border-width: 5px 0px 0px 5px;
    display: inline-block;
    padding: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    /* position: relative;
    border-left: 10px solid transparent;
    border-bottom: 14px solid #0080c9;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    background-color: white;
    top: 0px;
    bottom: 0px;
    right: 150px;
    left: 150px;
    width: 0; 
    height: 0;  */
}

.ad_title{
  margin-left: -8px;
}
.ad_content{
  margin-left: -8px;
}
.mbl_img{
  margin-left: -8px;
}
.ads_show{
  margin-top: -30px;
}
.auto_show{
  margin-top: -30px;
}

.h_tabs{
  width: 100%;
  margin-right: 0px;
  margin-top: 10px;
  text-align: center;
}
.tab_image{
  height: 300px;
}
.mbl{
  display: none;
}
.image-section > .elementor-container{
  background-color: #dedede;
}
.image-col-innerSection{
  padding-top: 25px;
  padding-bottom: 25px;
}
.schein_img{
  width: 100%;
}
.left_des_col{
  padding: 0px 0px 0px 0px;
}
.lt_rt_border {
  margin: 0px 10px 0px -30px !important;
}
.elementor-7 .elementor-element.elementor-element-9a12632 > .elementor-widget-container{
  margin: 0px 0px 0px -104px !important;
}
.tab_image{ 
  width: 100% !important; 
}
.tabSlider_content{
  width: 100% !important;;
}
.slider {
   margin: 10px auto; 
}
.branches{
  margin-left: 11px;
}
.social_icons{
  display: initial;
  margin-left: auto;
}
.social_icons > .single_icon{
  float: left;
  padding-left: 0px;
  margin-top: 5px;
}
.job_form input[type=email]{
  margin-top: 0px;
}
.job_form input[type=tel]{
  margin-top: 0px;
}
.lt_rt_border span{
  font-size: 0.9rem;
}
.navbar{
  display: block !important;
}
.navbar-nav{
    margin-top: 0px;
    top: 80px;
  }
.navbar-nav > li{
    padding: 10px 30px 10px 30px;
    width: 90%;
    border-bottom:  1px solid #fff;
    position: relative;
}
.navbar-nav > li::after{
  font-family: FontAwesome;
  content: " \f0d7";
  color: #fff;
  position: absolute;
  right: 80px;
  top: 10px;
}

.navbar-nav > li:last-child::after{
  display: none;
}
.navbar-nav > li>a{
  float: none;
}
/* menu icon click*/
.menu-toggle{
  display: block;
  color: #e63312;
  position: fixed;
  right: 2px;
  top: 22px;
  z-index: 10;
  font-size: 35px;
}
.custom_nav{
  bottom: 0px;
  left: 20%;
  top: 0px;
  right: 0px;
  background-color: #0080c9;
  position: fixed !important;
  transform: translate(100%);
  transition: all 0.2s ease;
}
.custom_nav.open{
  transform: translate(0);
}

ul.sub-menu{
    display: none;
    position: relative;
    background-color: transparent;
    min-width: 0px;
    padding: 10px 20px;
    top: 0px;
    z-index: 1;
    margin-left: -13px;
    box-shadow: none;
  }
.custom_nav ul.open{
  display: block;
}
ul.sub-menu >li> a {
 color: #fff;
  padding: 10px 0px;
  font-size: 1rem;
 
  }


ul.sub-menu >li> a:hover{
    background-color: transparent; 
  }
.navbar-nav > li {
    width: 95%;
}  
 .navbar li a{
  color: #fff;
}
.banner-head{
    top: 0px !important;
  }
.Terminbanner-head{
  font-size:  1.0rem;
  top: -118px;
}
.termin-mr{
  margin-top: -22px;
}
.shadowboxtext_mitarbeiter{
  min-height: 235px !important;
}
/*.navbar-nav> li:hover ul.sub-menu{
    display: block;
  }*/
 
/* menu icon click END*/
 /*.navbar{
  bottom: 0;
  left: 40%;
  transition: translate(100%);
 }
 .navbar.open{
  transition: translate(0);
 }*/
}

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) { 
   .footer_img {
     padding-left: 0px;
   }
   .footer_menu {
     padding-top: 40px;
     margin-left: -45px;
   }
   
   .navbar-dark .navbar-toggler{
    margin-right: -30px;
   }
   .mbl_ad{
     display: none;
   }
   .box_shadow{
    box-shadow: none!important;
   }
   .about_heading{
     padding-top: 20px;
   }
  
  .job-btn > .elementor-7 .elementor-element.elementor-element-6608d63 a.elementor-button, .elementor-7 .elementor-element.elementor-element-6608d63 .elementor-button{
      width: 100%;
      
    }
  .image-col-innerSection{
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .home-auto-img{
    padding-top: 30px;
  } 
  .image-col-innerSection > .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
    padding: 0px;
  }
  .vector-icon {
    padding: 0px 0px 0px 0px !important;
  }
   .person_box {
    width: 100% !important;
    
  }

  .person_box.detail-box-hidden{
    width: 100% !important;
  }
  .bind_imgDes{
     width: 100% !important;
  }
  .about_keinath.branches{
    padding-top: 80px;
  }
  .bind_imgDes >.elementor-element-populated{
    padding: 0px 10px !important;
  }
  .navbar li a{
  color: #fff;
  }
  .banner-head{
    top: 13px !important;
  }
  .termin_img{
    min-height: 285px;
    margin-top: 10px;
  }
  .termin-mr {
    margin-top: -57px;
  }
  .shadow_boxContent {
    padding: 55px 20px !important;
    min-height: 180px !important;
  }
  .bind_imgDes .elementor-widget-wrap > .auto-description{
  overflow: auto;
  height: auto;
  -webkit-transition: none; 
  transition: none;
}

.bind_imgDes .elementor-widget-wrap:hover > .auto-description{
  overflow: auto;
  height: auto;
  -webkit-transition: none; 
  transition: none;
}


.bind_imgDes .elementor-widget-wrap > .auto-image{
  overflow: auto;
  height: auto;
  -webkit-transition: none; 
  transition: none;
}


.bind_imgDes .elementor-widget-wrap:hover > .auto-image{
  overflow: auto;
  height: auto;
  -webkit-transition: none; 
  transition: none;
}
.shadowboxtext{
  background-color: transparent !important;
  margin-left: -8px;
  min-height: 275px !important;
  height: 100%;
}
}
 
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  .blue_background{
   font-size: 1.2rem !important;
  }
  .ad_box{
    display: none ;
  }
 }

/*Cookie-Bot*/
a#CybotCookiebotDialogBodyLevelButtonAccept{
	background-color: #0080c9 !important; 
	height: 30px !important; 
}

#CybotCookiebotDialogBody {
	font-family: 'Titillium Web', sans-serif;
}

.content {
	max-width: 1140px; 
	margin: 0 auto; 
	padding: 0 15px; 
}

.elementor-editor-active .social-wall{
	display: none;
}

.post-text p {
	color: #000;
}
.post-img a {
	width: 100%;
    height: 250px;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}