// Your variable overrides
$primary:       #0080C9;
$danger:        #E63312;
$light:         #DEDEDE;
$dark:          #606060;

$container-max-widths: (
  sm: 1040px,
  md: 1240px,
  lg: 1540px,
  xl: 1640px
  );
@import "../../../../../../node_modules/bootstrap/scss/bootstrap";

.box-shadow {
  box-shadow: 0 0 10px $gray-400;
}

//header 
header + section {
  margin-top: 153px;
}

// blog post
.container-blogpost {
  max-width: 1103px;
  margin: auto;
  @media screen and (max-width: 1600px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  > div.post {
    @extend .bg-light;
    padding: 0 8.625rem 4rem 8.625rem;
    @media screen and (max-width: 1600px) {
      padding: 0 2rem;
    }
    .post__category {
      left: 8.625rem;
      @media screen and (max-width: 1600px) {
        left: 2rem !important;
      }
    } 
  }
}
.blogpost__content p {
  column-count: 2; 
  @include media-breakpoint-down(lg) {
    column-count: 1; 
  }
  @include media-breakpoint-down(md) {
    column-count: 2; 
  }
  @include media-breakpoint-down(xs) {
    column-count: 1; 
  }
}

.post-image > div {
  height: 624px;
}
.post-image img {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
}
.post-image + section {
  margin-top: -240px;
}
.home__hero {
  position: relative;
  overflow: hidden;
  .post__content {
    position: absolute;
    width: 100%;
  }
}